
.active{
    color: #eeb912;
    font-weight: bold;
}
.contenedor{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fondo{
    background-image: url("../public/pokemonfondo.jpg");
    background-size: cover;
    object-fit: cover;
   
    background-repeat: no-repeat;
}
.texto-borde {
    -webkit-text-stroke: 2px #2b4492 ;
    color:  #eeb912 ; 
    font-family: 'Pokemon Solid';
  }


h1{
    margin-bottom: 400px;
    margin-right: 600px;
    animation-duration: 3s;
    animation-name: slidein;
    
}
.fondoCarta{
    min-height: 100vh;
    background-color: #2b4492;
}

section{
    overflow: hidden;
}
 

@keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%
    }
  
    to {
      margin-right: 0%;
      width:80%;
    }
    
}
.tamañoImg{
    width: 150px;
    display: block ;
}

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #eeb912;
}

.banner_img{
    background-repeat: no-repeat;
    background-position: 50%;
}

.imgPokebolaOpen{
    background-image: url('../public/pokebolaOpen.png');
}
.imgPokebola {
    background-image: url('../public/pokebola.png');
   
}
